body {background-color: black;}

h1 {
	color: white;
	font-family: "Courier Prime", serif;
	font-size: 24px;
	font-style: bold;
	margin-top: 80px;
	text-align: center;
}

h2 {
	color: white;
	font-family: "Courier Prime", serif;
	font-style: regular;
	font-size: 24px;
	text-align: center;
}

p {
	color: white; 
	font-family: "Courier Prime", serif; 
}

pre {
	color: white;
	font-family: "Courier Prime", serif; 
	margin: 0em;
}

a {
	text-decoration: none;
	font-family: "Courier Prime", serif; 
	margin: 0em;
}

a:link {color:gray;}
a:visited {color:gray;}
a:hover {color:white;}
a:active {color:white;}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

caption {
	font-size: 14px;
	margin: 0em;
	align: center;
	color: lightgrey;
}

.art {
	font-size: 14px;
	margin: 0em;
	align: center;
}

.blocktext {
	font-size: 14px;
	font-family: "Iosevka Web", monospace;
	margin: 0em;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #000000;
	border-bottom-style: solid;
	border-color: white;
	display: inline-block;
}

.main {
	width: 85%;
	margin: 10px auto;
}

.center {
	text-align: center;
}

.left {
	left: 7.5%;
    right: 52%;
    margin: 10px auto;
}

.right {
	right: 7.5%;
    left: 52%;
    margin: 10px auto;
}

:target::before {
  content: "";
  display: block;
  height: 75px;
  margin: -75px 0 0;
}
